.navbar {
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 60px;
  background: #232536;
}

.links {
  margin-left: auto;
  margin-right: 20px;
}

.links a {
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
  font-size: 16px;
  opacity: 0.8;
}

.links a:hover {
  opacity: 1;
}