.navbar {
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 60px;
  background: beige;
}

.links {
  margin-left: auto;
  margin-right: 20px;
}

.links a {
  text-decoration: none;
  color: teal;
  margin-left: 15px;
  font-size: 18px;
}